{
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
