@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: theme('colors.grey.100');
  font-family: theme('fontFamily.body');
  color: theme('colors.purple.400');
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
